<div background-color="#C0C0C0" th:fragment="navibar">
	<ul class="nav nav-tabs">
		<li role="presentation"><a href="/"><i class="fas fa-home"></i></a></li>
	  	<li role="presentation"><a href="/client/getAll">Firmy</a></li>
	  	<li role="presentation"><a href="/student/getAll">Studenci</a></li>
	  	<li role="presentation"><a href="/course/getAll">Szkolenia</a></li>
	  	<li role="presentation"><a href="/teacher/getAll">Prowadzący</a></li>
	  	<li role="presentation"><a href="/order/getAll">Zapisy</a></li>
	</ul>
</div>