@charset "UTF-8";

div.page {
	margin-left: 10%;
	margin-right: 10%;
}

div.main {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
}
input.error {
	background-color: #FFDDDD;
}

div.footer {
	text-align: center
}