<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Nauczyciel</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  	
     </head>
     <body>
     	<div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>   
     	<div class="alert alert-info" role="alert">
     	<p th:text="'Usunięto prowadzącego ' + ${teacher.firstName} + ' ' + ${teacher.lastName}"></p>
     	</div>
     	<p align="center">
			<a class="button" th:href="@{/teacher/getAll}">Powrót</a>
		</p>  
	<div id="footer" th:include="fragments/footer :: footer"/>  
     </body>
</html>