<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Edycja kursu</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
     </head>
     <body>
     	<div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>   	
     	<form method="POST" th:object="${course}">
     	<div class="page">
     	<div class="panel panel-default">
 			<div class="panel-heading">Edycja kursu</div>
  			<div class="panel-body">
  		</div>
  		
			<table class="table table">
				<tbody>
					<tr>
						<th>Nazwa</th>
						<td><input type="text" name="name" th:value="${course.name}" th:class="${#fields.hasErrors('name')}? 'error'">
						<span th:if="${#fields.hasErrors('name')}"><i class="fas fa-exclamation-circle"></i> pole wymagane</span></td>
					</tr>
					<tr>
						<th>Liczba godzin</th>
						<td><input type="text" name="numberOfHours" th:value="${course.numberOfHours}" th:class="${#fields.hasErrors('numberOfHours')}? 'error'">
						<span th:if="${#fields.hasErrors('numberOfHours')}"><i class="fas fa-exclamation-circle"></i> liczba godzin</span></td>
					</tr>
					<tr>
						<th>Cena</th>
						<td><input type="text" name="prize" th:value="${course.prize}" th:class="${#fields.hasErrors('prize')}? 'error'">
						<span th:if="${#fields.hasErrors('prize')}"><i class="fas fa-exclamation-circle"></i> kwota do dwóch miejsc po przecinku</span></td>
					</tr>	
					<tr>
						<th>Prowadzący</th>
						<td>					
							<select name="teacher">
							<option value=""><span th:text="${course.teacher?.firstName} + ' ' + ${course.teacher?.lastName}"></span></option>
							<option th:each="teacher : ${teacherList}"
                            th:value="${teacher.id}"
                            th:text="${teacher.firstName} + ' ' + ${teacher.lastName}" />
                  			</select>
						<a class="button" th:href="@{/teacher/add}" data-toggle="tooltip" data-placement="top" title="Dodaj"><i class="fas fa-plus"></a></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input class="btn btn-info" type="submit" value="Zapisz">		
						<input class="btn-link" type="submit" value="Anuluj" th:formaction="@{/course/getAll}"></td>
						
					</tr>
				</tbody>
			</table>
			
			</div>
		</form>
		<div id="footer" th:include="fragments/footer :: footer"/> 
     </body>
</html>