<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Edycja danych klienta</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
     </head>
     <body>
     	<div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>   	
     	<form method="POST" th:object="${client}">
     	
		<div class="alert alert-danger" role="alert">BŁĄD! Proszę wprowadzić prawidłowe dane</div>
  		
			<table class="table table">
				<tbody>
					<tr>
						<th>Nazwa</th>
						<td><input type="text" name="name" th:value="${client.name}" th:class="${#fields.hasErrors('name')}? 'error'">
						<span th:if="${#fields.hasErrors('name')}"><i class="fas fa-exclamation-circle"></i> pole wymagane</span></td>
					</tr>
					<tr>
						<th>Miasto</th>
						<td><input type="text" name="city" th:value="${client.city}" th:class="${#fields.hasErrors('city')}? 'error'">
						<span th:if="${#fields.hasErrors('city')}"><i class="fas fa-exclamation-circle"></i> pole wymagane</span></td>
					</tr>
					<tr>
						<th>Kod pocztowy</th>
						<td><input type="text" name="zipCode" th:value="${client.zipCode}" th:class="${#fields.hasErrors('zipCode')}? 'error'">
						<span th:if="${#fields.hasErrors('zipCode')}"><i class="fas fa-exclamation-circle"></i> 5 cyfr bez kresek</span></td>
					</tr>
					<tr>
						<th>Ulica</th>
						<td><input type="text" name="street" th:value="${client.street}" th:class="${#fields.hasErrors('street')}? 'error'">
						<span th:if="${#fields.hasErrors('street')}"><i class="fas fa-exclamation-circle"></i></span></td>
					</tr>
					<tr>
						<th>Numer NIP</th>
						<td><input type="text" name="nip" th:value="${client.nip}" th:class="${#fields.hasErrors('nip')}? 'error'">
						<span th:if="${#fields.hasErrors('nip')}"><i class="fas fa-exclamation-circle"></i> 10 cyfr bez kresek</span></td>
					</tr>
				
					<tr>
						<td colspan="2" align="center"><input class="btn btn-info" type="submit" value="Zapisz">		
						<input class="btn-link" type="submit" value="Anuluj" th:formaction="@{/client/getAll}"></td>
						
					</tr>
				</tbody>
			</table>
		</form>
     </body>
</html>