<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Edycja danych klienta</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
     </head>
     <body>
     	<div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>   	
     	<form method="POST" th:object="${client}">
     	
     	<div class="panel panel-default">
 			<div class="panel-heading">Zmiana danych klienta</div>
  			<div class="panel-body">
  		</div>
  		
			<table class="table table">
				<tbody>
					<tr>
						<th>Nazwa</th>
						<td><input type="text" name="name" th:value="${client.name}"></td>
					</tr>
					<tr>
						<th>Miasto</th>
						<td><input type="text" name="city" th:value="${client.city}"></td>
					</tr>
					<tr>
						<th>Kod pocztowy</th>
						<td><input type="text" name="zipCode" th:value="${client.zipCode}"></td>
					</tr>
					<tr>
						<th>Ulica</th>
						<td><input type="text" name="street" th:value="${client.street}"></td>
					</tr>
					<tr>
						<th>Numer NIP</th>
						<td><input type="text" name="nip" th:value="${client.nip}"></td>
					</tr>
				
					<tr>
						<td colspan="2" align="center"><input class="btn btn-info" type="submit" value="Zapisz">		
						<input class="btn-link" type="submit" value="Anuluj" th:formaction="@{/client/getAll}"></td>
						
					</tr>
				</tbody>
			</table>
		</form>
     </body>
</html>