<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Edycja danych studenta</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
     </head>
     <body>
     	<div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>   	
     	<form method="POST" th:object="${student}">
     	<div class="page">
		<div class="alert alert-danger" role="alert">BŁĄD! Proszę wprowadzić prawidłowe dane</div>
  		
			<table class="table table">
				<tbody>
					<tr>			
					<th>Firma</th>
					<th>
							<select type="text" name="client">
							<option value=""><span th:text="${student.client?.name}"></span></option>
							<option th:each="client : ${clientList}"
                            th:value="${client.id}"
                            th:text="${client.name}"/>
                            <span th:text="${student.client?.name}">
                  			</select>
                  			</th>
						
					</tr>
					<tr>
						<th>Imię</th>
						<td><input type="text" name="firstName" th:value="${student.firstName}" th:class="${#fields.hasErrors('firstName')}? 'error'">
						<span th:if="${#fields.hasErrors('firstName')}"><i class="fas fa-exclamation-circle"></i></span></td>
					</tr>
					<tr>
						<th>Nazwisko</th>
						<td><input type="text" name="lastName" th:value="${student.lastName}" th:class="${#fields.hasErrors('lastName')}? 'error'">
						<span th:if="${#fields.hasErrors('lastName')}"><i class="fas fa-exclamation-circle"></i></span></td>
					</tr>
					<tr>
						<th>Adres email</th>
						<td><input type="text" name="email" th:value="${student.email}" th:class="${#fields.hasErrors('email')}? 'error'">
						<span th:if="${#fields.hasErrors('email')}"><i class="fas fa-exclamation-circle"></i></span></td>
					</tr>
					<tr>
						<th>Rok urodzenia</th>
						<td><input type="text" name="birthYear" th:value="${student.birthYear}" th:class="${#fields.hasErrors('birthYear')}? 'error'">
						<span th:if="${#fields.hasErrors('birthYear')}"><i class="fas fa-exclamation-circle"></i></span></td>
					</tr>
					<tr>
						<th>Miasto</th>
						<td><input type="text" name="city" th:value="${student.city}" th:class="${#fields.hasErrors('city')}? 'error'">
						<span th:if="${#fields.hasErrors('city')}"><i class="fas fa-exclamation-circle"></i></span></td>
					</tr>
				
					<tr>
						<td colspan="2" align="center"><input class="btn btn-info" type="submit" value="Zapisz">		
						<input class="btn-link" type="submit" value="Anuluj" th:formaction="@{/student/getAll}"></td>
						
					</tr>
				</tbody>
			</table>
			</div>
		</form>
		<div id="footer" th:include="fragments/footer :: footer"/> 
     </body>
</html>