<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Edycja danych studenta</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
     </head>
     <body>
     	<div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>   	
     	<form method="POST" th:object="${teacher}">
     	<div class="page">
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">BŁĄD! Proszę wprowadzić prawidłowe dane</div>
  		
			<table class="table table">
				<tbody>
					<tr>
						<th>Imię</th>
						<td><input type="text" name="firstName" th:value="${teacher.firstName}" th:class="${#fields.hasErrors('firstName')}? 'error'">
						<span th:if="${#fields.hasErrors('firstName')}"><i class="fas fa-exclamation-circle"></i></span></td>
					</tr>
					<tr>
						<th>Nazwisko</th>
						<td><input type="text" name="lastName" th:value="${teacher.lastName}" th:class="${#fields.hasErrors('lastName')}? 'error'">
						<span th:if="${#fields.hasErrors('lastName')}"><i class="fas fa-exclamation-circle"></i></span></td>
					</tr>
					<tr>
						<th>Data zatrudnienia</th>
						<td><input type="date" name="hireDate" th:value="${teacher.hireDate}" th:class="${#fields.hasErrors('hireDate')}? 'error'">
						<span th:if="${#fields.hasErrors('hireDate')}"><i class="fas fa-exclamation-circle"></i></span></td>
					</tr>
				
					<tr>
						<td colspan="2" align="center"><input class="btn btn-info" type="submit" value="Zapisz">		
						<input class="btn-link" type="submit" value="Anuluj" th:formaction="@{/teacher/getAll}"></td>
						
					</tr>
				</tbody>
			</table>
			</div>
		</form>
     </body>
</html>