<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Lista Firm</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  	
     </head>
     <body> 
        <div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>  
        <div class="page">
       
       	  	
     	<h2>Firmy:</h2>
     	<div class="table">
     	
	     	<table class="table table-hover">
	     	<thead>
		       <tr>
		        <th>Id</th>
		        <th>Nazwa</th>
		        <th>Miasto</th> 
		        <th>Kod pocztowy</th> 
		        <th>Adres</th>          
		        <th>NIP</th>                  
		        <th></th>          
		      </tr>
		 	 </thead>
			 <tbody>
			     <tr th:each="client, stat : ${clientList}">
			     	 <td th:text="${client.id}"></td>         
			 	     <td th:text="${client.name}"></td>
			         <td th:text="${client.city}"></td>
			         <td th:text="${client.zipCode}"></td>
			         <td th:text="${client.street}"></td>
			         <td th:text="${client.nip}"></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Edytuj" th:href="@{/client/edit/} + ${client.id}"><i class="fas fa-edit"></a></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Usuń" th:href="@{/client/delete/} + ${client.id}"><i class="fas fa-trash-alt"></a></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Wyszukaj studentów" th:href="@{/student/getByClient/} + ${client.id}"><i class="fas fa-users"></a></td>
			      </tr>
			  </tbody>
	  		</table>
  		</div>
  		<p/>
  		<a class="btn btn-primary" th:href="@{/client/add}">Dodaj firmę</a>
	</div>
	</div>
	<div id="footer" th:include="fragments/footer :: footer"/>  
     </body>
</html>