<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Pracownicy</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  	
     </head>
     <body> 
        <div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>  
        <div class="page">	

     	<h2>Zapisy</h2>
     	<div class="table">
     	
	     	<table class="table table-hover">
	     	<thead>
		       <tr>
		        <th>Id</th>
		        <th>Imię</th>
		        <th>Nazwisko</th>   
		        <th>Email</th>
		        <th>Pracodawca</th>       
		        <th>Szkolenie</th>          
		        <th>Data rozpoczęcia</th> 
		        <th></th>          
		      </tr>
		 	 </thead>
			 <tbody>
			     <tr th:each="order, stat : ${orderList}">
			     	 <td th:text="${order.id}"></td>    
			 	     <td th:text="${order.student?.firstName}"></td>
			         <td th:text="${order.student?.lastName}"></td>
			         <td th:text="${order.student?.email}"></td>   
			         <td th:text="${order.student?.client?.name}"></td>
			         <td th:text="${order.course?.name}"></td>   
			         <td th:text="${order.startDate}"></td>   
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Szczegóły" th:href="@{/order/get/} + ${order.id}"><i class="far fa-file-alt"></a></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Usuń" th:href="@{/order/delete/} + ${order.id}"><i class="fas fa-trash-alt"></a></td>
			      </tr>
			  </tbody>
	  		</table>
  		</div>
  		
  		<a class="btn btn-primary" th:href="@{/order/add}">Nowy zapis na szkolenie</a>
  		<a class="btn btn-primary" th:href="@{/course/getAll}">Lista szkoleń</a>
  		</div>
		</div>
	<div id="footer" th:include="fragments/footer :: footer"/>  
     
     </body>
</html>