<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Prowadzący</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  	
     </head>
     <body> 
        <div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>  
        <div class="page">
       
       	  	
     	<h2>Prowadzący:</h2>
     	<div class="table">
     	
	     	<table class="table table-hover">
	     	<thead>
		       <tr>
		        <th>Id</th>
		        <th>Imię</th>
		        <th>Nazwisko</th> 
		        <th>Data zatrudnienia</th>                 
		        <th></th>          
		      </tr>
		 	 </thead>
			 <tbody>
			     <tr th:each="teacher, stat : ${teacherList}">
			     	 <td th:text="${teacher.id}"></td>         
			 	     <td th:text="${teacher.firstName}"></td>
			         <td th:text="${teacher.lastName}"></td>
			         <td th:text="${teacher.hireDate}"></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Edytuj" th:href="@{/teacher/edit/} + ${teacher.id}"><i class="fas fa-edit"></a></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Usuń" th:href="@{/teacher/delete/} + ${teacher.id}"><i class="fas fa-trash-alt"></a></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Wyszukaj szkolenia" th:href="@{/course/getByTeacher/} + ${teacher.id}"><i class="fas fa-book"></a></td>
			      </tr>
			  </tbody>
	  		</table>
  		</div>
  		<p/>
  		<a class="btn btn-primary" th:href="@{/teacher/add}">Dodaj nowego prowadzącego</a>
	</div>
	</div>
	<div id="footer" th:include="fragments/footer :: footer"/>  
     </body>
</html>