<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Katalog szkoleń</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  	
     </head>
     <body> 
        <div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>  
        <div class="page">
       
       	  	
     	<h2>Szkolenia:</h2>
     	<div class="table">
     	
	     	<table class="table table-hover">
	     	<thead>
		       <tr>
		        <th>Id</th>
		        <th>Nazwa</th>
		        <th>Ilość godzin</th>          
		        <th>Cena</th>  
		        <th>Prowadzący</th>                 
		        <th></th>          
		      </tr>
		 	 </thead>
			 <tbody>
			     <tr th:each="course, stat : ${courseList}">
			     	 <td th:text="${course.id}"></td>         
			 	     <td th:text="${course.name}"></td>
			         <td th:text="${course.numberOfHours}"></td>
			         <td th:text="${course.prize}"></td>
			         <td th:text="${course.teacher?.firstName} + ' ' + ${course.teacher?.lastName}"></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Edytuj" th:href="@{/course/edit/} + ${course.id}"><i class="fas fa-edit"></a></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Usuń" th:href="@{/course/delete/} + ${course.id}"><i class="fas fa-trash-alt"></a></td>
			         <td><a class="button" data-toggle="tooltip" data-placement="top"  title="Wyszukaj zapisy" th:href="@{/order/getByCourse/} + ${course.id}"><i class="fas fa-users"></a></td>
			      </tr>
			  </tbody>
	  		</table>
  		</div>
  		<p/>
  		<a class="btn btn-primary" th:href="@{/course/add}">Dodaj nowe szkolenie</a>
  		<a class="btn btn-primary" th:href="@{/course/getAll}">Wszystkie szkolenia</a>
	</div>
	</div>
	<div id="footer" th:include="fragments/footer :: footer"/>  
     </body>
</html>