<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Student</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  	
     </head>
     <body>
     <div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/> 
     <div class="page">
     <h2>Dane klienta:</h2>   	
     		<table class="table table-hover">
				<tbody>
					<tr>
						<th>Id</th>
						<td th:text="${client.id}"></td>
					</tr>
					<tr>
						<th>Nazwa</th>
						<td th:text="${client.name}"></td>
					</tr>
					<tr>
						<th>Adres</th>
						<td th:text="${client.street} + ', ' + ${client.zipCode} + ' ' + ${client.city}"></td>
					</tr>
					<tr>
						<th>NIP</th>
						<td th:text="${client.nip}"></td>
					</tr>
					<td colspan="2" align="center">
						<a class="button" th:href="@{/client/getAll}">Powrót do listy firm</a>
					</td>
				</tbody>
			</table>
			</div>
			<div id="footer" th:include="fragments/footer :: footer"/>  
     </body>
</html>