<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Szczegóły zapisu</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  	
     </head>
     <body>
     <div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/> 
     <div class="page">
     <h2>Szczegóły szkolenia:</h2>   	
     		<table class="table table-hover">
				<tbody>
					<tr>
						<th>Id studenta</th>
						<td th:text="${order.student?.id}"></td>
					</tr>
					<tr>
						<th>Imię i nazwisko studenta</th>
						<td th:text="${order.student?.firstName} + ' ' + ${order.student?.lastName}"></td>
					</tr>
					<tr>
						<th>Data urodzenia</th>
						<td th:text="${order.student?.birthYear}"></td>
					</tr>
					<tr>
						<th>Miasto</th>
						<td th:text="${order.student?.city}"></td>
					</tr>
					<tr>
						<th>Firma</th>
						<td th:text="${order.student?.client?.name}"></td>
					</tr>
					<tr>
						<th>Adres firmy</th>
						<td th:text="${order.student?.client?.city} + ', ' + ${order.student?.client?.street}"></td>
					</tr>
					<tr>
						<th>NIP Firmy</th>
						<td th:text="${order.student?.client?.nip}"></td>
					</tr>
					<tr>
						<th>Szkolenie</th>
						<td th:text="${order.course?.name}"></td>
					</tr>
					<tr>
						<th>Data szkolenia</th>
						<td th:text="${order.startDate}"></td>
					</tr>
					<tr>
						<th>Czas trwania</th>
						<td th:text="${order.course?.numberOfHours} + ' godzin'"></td>
					</tr>
					<tr>
						<th>Cena szkolenia</th>
						<td th:text="${order.course?.prize} + ' zł'"></td>
					</tr>
					<td colspan="2" align="center">
						<a class="button" th:href="@{/order/getAll}">Powrót</a>
					</td>
				</tbody>
			</table>
			</div>		
			<div id="footer" th:include="fragments/footer :: footer"/>
			  
     </body>
</html>