<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Zapisano studenta</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  	
     </head>
     <body>
     <div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/> 
		<div class="main" width="200px">	
			<div style="text-align: center" class="list-group">
			  <a class="list-group-item active">
			    <h4 class="list-group-item-heading">Trainer - szkolenia dla firm</h4>
			    <p class="list-group-item-text"></p>
			  </a>
			  <a href="/order/getAll" class="list-group-item">
			    <h4 class="list-group-item-heading">Zapisy</h4>
			    <p class="list-group-item-text">Zgłoszenia studentów na studia</p>
			  </a>
			  <a href="/client/getAll" class="list-group-item">
			    <h4 class="list-group-item-heading">Firmy</h4>
			    <p class="list-group-item-text">Klienci firmy delegujący pracowników na szkolenie</p>
			  </a>
			  	<a href="/student/getAll" class="list-group-item">
			    <h4 class="list-group-item-heading">Studenci</h4>
			    <p class="list-group-item-text">Pracownicy delegowani na szkolenie przez swojego pracodawcę</p>
			  </a>
			  <a href="/course/getAll" class="list-group-item">
			    <h4 class="list-group-item-heading">Szkolenia</h4>
			    <p class="list-group-item-text">Szkolenia oferowane przez firmę</p>
			  </a>
			  <a href="/teacher/getAll" class="list-group-item">
			    <h4 class="list-group-item-heading">Trenerzy</h4>
			    <p class="list-group-item-text">Nauczyciele prowadzący szkolenia</p>
			  </a>
			</div>
		</div>	
  			
			<div id="footer" th:include="fragments/footer :: footer"/>
			  
     </body>
</html>