<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Zapisy się na szkolenie</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
     </head>
     <body>
     	<div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>  	
     	<form method="POST">
     	
     	<div class="page">
     	<div class="panel panel-default">
 			<div class="panel-heading">Nowy zapis na szkolenie</div>
  			<div class="panel-body">
 	 		</div>

			<table class="table">
				<tbody>
					<tr>
					<th>Student</th>
					<td>					
							<select name="student">
							<option value=""> --- </option>
							<option th:each="student : ${studentList}"
                            th:value="${student.id}"
                            th:text="${student.firstName} + ' ' + ${student.lastName}" />
                  			</select>
						<a class="button" th:href="@{/student/add}" data-toggle="tooltip" data-placement="top"  title="Dodaj"> <i class="fas fa-plus"></a></td>
					</tr>	

					<tr>
					<th>Kurs</th>
					<td>					
							<select name="course">
							<option value=""> --- </option>
							<option th:each="course : ${courseList}"
                            th:value="${course.id}"
                            th:text="${course.name}"/>
                  			</select>
					<a class="button" th:href="@{/course/add}"data-toggle="tooltip" data-placement="top"  title="Dodaj"><i class="fas fa-plus"></a></td>
					</tr>	
					<tr>
						<th>Data rozpoczęcia</th>
						<td><input type="date" name="startDate"></td>
					</tr>	
					<tr>
						<td colspan="2" align="center"><input class="btn btn-info" type="submit" value="Zapisz">		
						<input class="btn-link" type="submit" value="Anuluj" th:formaction="@{/student/getAll}"></td>					
					</tr>
				</tbody>
			</table>
			</div>
		</form>
		<div id="footer" th:include="fragments/footer :: footer"/>
     </body>
</html>