<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
     	<title>Nowy student</title>
     	<meta charset="UTF-8"/>
     	<link href="../static/css/trainer.css" th:href="@{/css/trainer.css}" rel="stylesheet" />
     	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
     </head>
     <body>
     	<div id="navibar" class="menu" th:include="fragments/navibar :: navibar"/>   	
     	<form method="POST" th:object="${student}">
     	<div class="page">
     	<div class="panel panel-default">
 			<div class="panel-heading">Nowy student</div>
  			<div class="panel-body">
  		</div>
  		
			<table class="table table">
				<tbody>
					<tr>			
					<th>Firma</th>
					<td>
							<select type="text" name="client">
							<option value=""> --- </option>
							<option th:each="client : ${clientList}"
                            th:value="${client.id}"
                            th:text="${client.name}"/>
                  			</select>
                  			
						<a class="button" th:href="@{/client/add}" data-toggle="tooltip" data-placement="top"  title="Dodaj"><i class="fas fa-plus"></a></td>
						
					</tr>
					<tr>
						<th>Imię</th>
						<td><input type="text" name="firstName"></td>
					</tr>
					<tr>
						<th>Nazwisko</th>
						<td><input type="text" name="lastName"></td>
					</tr>
					<tr>
						<th>Adres email</th>
						<td><input type="text" name="email"></td>
					</tr>
					<tr>
						<th>Rok urodzenia</th>
						<td><input type="text" name="birthYear"></td>
					</tr>
					<tr>
						<th>Miasto</th>
						<td><input type="text" name="city"></td>
					</tr>
				
					<tr>
						<td colspan="2" align="center"><input class="btn btn-info" type="submit" value="Zapisz">		
						<input class="btn btn-link" type="submit" value="Anuluj" th:formaction="@{/student/getAll}"></td>
						
					</tr>
				
				</tbody>
			</table>
		</div>
		</form>
		<div id="footer" th:include="fragments/footer :: footer"/> 
     </body>
</html>